$text-color:            #fff;
$background-color:      #333;
$brand-color:           #ff3d7d;
$link-color:            #ff3d7d;
$link-hover-color:      darken($brand-color, 15%);

$grey-color:            #828282;
$grey-color-light:      lighten($grey-color, 40%) !default;
$grey-color-dark:       darken($grey-color, 25%) !default;
