$text-color:       #fff !default;
$background-color: #333 !default;
$brand-color:      #ff3d7d !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
