.site-header {
  .site-title {
    color: #fff;
    @include relative-font-size(1.875);
    font-style: italic;
    font-family: "TradeGothic LT CondEighteen";
    text-transform: uppercase;
    font-weight: bold;
  }
}
