.page-about {
  .introduction {
    display: flex;
    align-items: center;
    margin: 0 0 100px;
    .welcome {
      font-size: 36px;
      line-height: 1.2;
      letter-spacing: -.5px;
      width: 60%;
      //margin-bottom: 60px;
      padding-right: 60px;
      a {
        color: $brand-color;
      }
    }
    .portrait-container {
      width:40%;
    }
    .portrait {
      position: relative;
      .flourish-1 {
        position: absolute;
        top: 16px;
        left: -20px;
        display: block;
        width: 200px;
        height: 60px;
        background: rgba($brand-color, .2);
      }
      .flourish-2 {
        position: absolute;
        top: 40%;
        left: 15%;
      }
      .flourish-3 {
        position: absolute;
        bottom: -7px;
        right: -7px;
        opacity: .3;
      }
    }
    .portrait-photo {
      width: 100%;
    }
  }
  .bio {
    display: flex;
    .toggle {
      width: 20%;
      flex-shrink: 0;
      span {
        &.link {
          color: $link-color;
          &:hover {
            color: $link-hover-color;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
    .bio-content {
      flex: 1;
      margin: 0 0 60px;
    }
    .ethos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      aside {
        h3 {
          font-family: $display-font-family;
          text-transform: uppercase;
          font-weight: 800;
          font-size: 24px;
        }
        &.half {

        }
        &.full {
          grid-column: 1 / span 2;
        }
      }
    }
  }
}
