.page-about {
  .introduction {
    display: flex;
    align-items: flex-end;
    margin: 0 0 60px;
    .welcome {
      font-size: 36px;
      line-height: 1.2;
      letter-spacing: -.5px;
      width: 60%;
      margin-bottom: 60px;
    }
    .portrait-container {

    }
    .portrait {
      height: 450px;
    }
  }
  .bio {
    display: flex;
    .toggle {
      width: 20%;
      flex-shrink: 0;
      span {
        &.link {
          color: $link-color;
          &:hover {
            color: $link-hover-color;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
    .bio-content {
      flex: 1;
      margin: 0 0 60px;
    }
    .ethos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      aside {
        h3 {
          font-family: $display-font-family;
          text-transform: uppercase;
          font-weight: 800;
          font-size: 24px;
        }
        &.half {

        }
        &.full {
          grid-column: 1 / span 2;
        }
      }
    }
  }
}
