.page {
  .page-header {
    margin: 0 0 60px;
    display: flex;
    align-items: center;
    .page-title {
      font-family: $display-font-family;
      font-weight: 800;
      font-size: 48px;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: -0.025em
    }
    .back-link {
      margin-left: auto;
      display: block;
    }
  }

  .page-content {

  }
}
