.page-project {
  .page-content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar content";
  }
  .project-sidebar {
    grid-area: sidebar;
    .sidebar-section {
      margin: 0 0 30px;
      h3 {
        font-family: $display-font-family;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 24px;
      }
    }
    .project-links {
      a {
        display: block;
      }
    }
    .role {
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          margin: 0 0 10px;
          span {
            background: #666;
            display: inline-block;
            padding: 5px 9px;
          }
        }
      }
    }
  }
  .project-content {
    grid-area: content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    figure {
      margin: 0 0 30px;
      figcaption {
        margin: 0 0 10px;
        display: block;
      }
      img {
        border-radius: 10px;
        width: 100%;
      }
      &.small {
        width: calc(50% - 15px);
      }
    }
  }
}
