---
layout: default
---
<article class="page page-about">

  <div class="page-content">
    <div class="introduction">
      <h1 class="welcome">Hello, I’m John Yoder &ndash; a San Antonio designer/developer working as a Product Lead, Designer, and UI Developer at <a target="_blank" href="http://hx.ai">HX.ai</a> and <a target="_blank" href="https://itunes.apple.com/us/app/h360/id1329070578?mt=8">H360</a>. I love colors, tastes, and sounds. I'm also obsessed with music.</h1>
      <div class="portrait-container">
        <div class="portrait">
          <img class="portrait" src="/images/photo.jpg" alt="Portrait of John Yoder" >
          <span class="flourish-1"></span>
          <img class="flourish-2" src="/images/flourish-2.svg">
          <img class="flourish-3" src="/images/flourish-3.svg">
        </div>
      </div>
    </div>
    <div class="bio">
      <div class="toggle">
        <span data-bio="full" class="link">Full</span> or <span data-bio="summary">Summary</span>
      </div>
      <div class="about-main">
        <div class="bio-content">
          <div id="bio-summary" class="summary">
            <p>
              I’m a Product Lead, Designer, and UI Developer at <a href="http://hx,ai">HX.ai</a> and <a href="https://itunes.apple.com/us/app/h360/id1329070578?mt=8">H360</a> with a focus on design systems, user experiences, and user interactions. I previously spent time as a Lead Designer and Front-end Developer for <a href="http://skycatchfire.com">Skycatchfire</a> and as a Lead Designer at Vann's Online Electronics (now defunct). I believe in a culture of exceptionalism, acceptance of diversity, balancing efficiency with quality, and having a laugh.
            </p>
            <p>
              Nice to meet you. ✌️
            </p>
          </div>
          <div id="bio-full" class="full" style="display: none;">
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.</p>
            <p>Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
          </div>
        </div>
        <div class="ethos">
          <aside class="half">
            <h3>Design</h3>
            <p>"It’s not just what it looks like and feels like. Design is how it works."</p>
            <p>As a designer, every intention and focus should be on the holistic experience. Aesthetic is a single component of good design, which extends to experience and usability. I approach every project and feature with the responsibility of how useful, delightful, and intuitive the experience and/or interface will be to a real human being.</p>
            <p>If you're interested in my workflow or knowing some of the tools I use to create design, check out my <a href="#">Resources</a> page where you can find my tools of choice (including <a href="#">Sketch</a> and <a href="#">InVision</a>).</p>
          </aside>
          <aside class="half">
            <h3>Development</h3>
            <p>I love taking designs (mine or others') from static mockups to fully immersive products. I have been a UI developer in addition to a designer for almost 9 years. I approach development with the same design ethos. My current focus is with React and Styled Components, but I have considerable experience with SASS, PHP, jQuery, Thymeleaf, and Liquid. I have also built and maintained complex projects with CMS's such as Wordpress, Drupal, Shopify, and Squarespace.</p>
            <p>I would argue that development is also design. Establishing sustainable, extensible, and readable front-end systems is one of the most satisfying parts of the trade.</p>
          </aside>
          <aside class="full">
            <h3>Creating Value</h3>
            <p>Having experience in a diverse assemblage of business environments (from startups to enterprise-level companies) has afforded me a very useful perspective of how to create value &mdash; and how crucial it is at any stage of a business. I'm not just here to design or to write fancy code. I'm here to solve problems and execute the vision as efficiently and agile as is reasonable. Excellence should precipitate execution.</p>
            <p>One of the ways I enjoy maximizing value is by being able to cover a large spectrum of capability &mdash; concept to design to UI development implementation. Often, I fill several positions as one resource which can be cost-effective and provides a highly streamlined and agile workflow. Being able to bridge the gap between design and development also has unique advantages in terms of designing for technological requirements and articulating communication between departments.</p>
          </aside>
        </div>
      </div>
    </div>
  </div>

</article>
