---
layout: default
---
<article class="page page-about">

  <div class="page-content">
    <div class="introduction">
      <h1 class="welcome">Hello, I’m John Yoder &ndash; a San Antonio designer/developer working as a Product Lead, Designer, and UI Developer at <a target="_blank" href="http://hx.ai">HX.ai</a> and <a target="_blank" href="https://itunes.apple.com/us/app/h360/id1329070578?mt=8">H360</a>. I love colors, tastes, and sounds. I'm also obsessed with music.</h1>
      <div class="portrait-container">
        <div class="portrait">
          <img class="portrait" src="/images/photo.jpg" alt="Portrait of John Yoder" >
          <span class="flourish-1"></span>
          <img class="flourish-2" src="/images/flourish-2.svg">
          <img class="flourish-3" src="/images/flourish-3.svg">
        </div>
      </div>
    </div>
    <div class="bio">
      <div class="toggle">
        <span data-bio="full" class="link">Full</span> or <span data-bio="summary">Summary</span>
      </div>
      <div class="about-main">
        <div class="bio-content">
          <div id="bio-summary" class="summary">
            <p>
              I’m a Product Lead, Designer, and UI Developer at <a href="http://hx,ai">HX.ai</a> and <a href="https://itunes.apple.com/us/app/h360/id1329070578?mt=8">H360</a> with a focus on design systems, user experiences, and user interactions. I previously spent time as a Lead Designer and Front-end Developer for <a href="http://skycatchfire.com">Skycatchfire</a> and as a Lead Designer at Vann's Online Electronics (now defunct). I believe in a culture of exceptionalism, acceptance of diversity, balancing efficiency with quality, and having a laugh.
            </p>
            <p>
              Nice to meet you. ✌️
            </p>
          </div>
          <div id="bio-full" class="full" style="display: none;">
            <p>
              As a Product Design Director at Sprout Social, I look after a design team shaping best in class social media reporting and analytics tools.
            </p>
            <p>
              Before taking on my role at Sprout Social, I served as the head of the digital product design team at Trunk Club, a fashion retailer by Nordstrom. We spent our days redesigning the retail experience, working to position design as a strategic partner to the business. From research to reporting, the rest of the company learned to rely on our team to apply design-thinking to help guide their own work. Just before Trunk Club, I briefly served as Director of Design for Tock, seeing what Michelin-starred service design looks like under Nick Kokonas and The Alinea Group.
            </p>
            <p>
              My leadership style and product-thinking was deeply influenced by my four years spent as a multidisciplinary designer at Basecamp, formerly known as 37signals. There I led brand, marketing, and product work for their widely-used project management software. I worked on new features, improved customer conversion and retention, embodied the Basecamp voice through marketing experiments and writing, all the way to new product prototyping. I tried new ideas often and embraced work in an experimental fashion.
            </p>
            <p>
              My first formative in-house role was with the crowdsourcing t-shirt brand Threadless, as their first full-time interactive designer. I spent time creating marketing campaigns, defining brand standards, and exploring user interfaces. (I also moonlit as a t-shirt model, but thankfully that career didn’t last long.)
            </p>
            <p>
              While my formal training is in communications and graphic design from The Illinois Institute of Art, I could never separate the various disciplines of design. Today I encourage designers to practice typesetting in the same breath as they practice writing code and prose. Try illustration while studying animation principles. You may not perfect each craft, but empathy for all makes for a better designer.
            </p>
          </div>
        </div>
        <div class="ethos">
          <aside class="half">
            <h3>Design</h3>
            <p>Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          </aside>
          <aside class="half">
            <h3>Development</h3>
            <p>Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          </aside>
          <aside class="full">
            <h3>Creating Value</h3>
            <p>Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          </aside>
        </div>
      </div>
    </div>
  </div>

</article>
