---
layout: default
---
<article class="page page-work">

  <header class="page-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
  </header>

  <div class="page-content">
    <div class="projects">

      {% for item in site.work %}
        <a href="{{ item.url }}" class="project">
          <div class="content-bg">
            <img src="http://placehold.it/500x500">
            <div class="content">
              <h4>{{ item.title }}</h4>
              <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
            </div>
          </div>
        </a>
      {% endfor %}

    </div>

  </div>

</article>
