---
layout: default
---
<article class="page page-work">

  <header class="page-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
  </header>

  <div class="page-content">
    <div class="projects">
      {% assign sortedProjects = site.work | sort: "order" %}
      {% for item in sortedProjects %}
        <a href="{{ item.url }}" class="project">
          <div class="content-bg">
            <img src="/images/work/{{ item.title | downcase }}/{{ item.name }}cover.jpg" alt="{{ item.name }}" >
            <div class="content">
              <h4>{{ item.title }}</h4>
              <p>{{ item.role-summary }}</p>
            </div>
          </div>
        </a>
      {% endfor %}

    </div>

  </div>

</article>
