---
layout: default
---
<article class="page">

  <header class="page-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
  </header>

  <div class="page-content">
    <div class="projects">

      <a href="/work/liners" class="project">
        <div class="content-bg">
          <img src="http://placehold.it/500x500">
          <div class="content">
            <h4>Liners</h4>
            <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
          </div>
        </div>
      </a>

      <a href="/work/liners" class="project">
        <div class="content-bg">
          <img src="http://placehold.it/500x500">
          <div class="content">
            <h4>Liners</h4>
            <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
          </div>
        </div>
      </a>

      <a href="/work/liners" class="project">
        <div class="content-bg">
          <img src="http://placehold.it/500x500">
          <div class="content">
            <h4>Liners</h4>
            <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
          </div>
        </div>
      </a>

      <a href="/work/liners" class="project">
        <div class="content-bg">
          <img src="http://placehold.it/500x500">
          <div class="content">
            <h4>Liners</h4>
            <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
          </div>
        </div>
      </a>

      <a href="/work/liners" class="project">
        <div class="content-bg">
          <img src="http://placehold.it/500x500">
          <div class="content">
            <h4>Liners</h4>
            <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
          </div>
        </div>
      </a>

      <a href="/work/liners" class="project">
        <div class="content-bg">
          <img src="http://placehold.it/500x500">
          <div class="content">
            <h4>Liners</h4>
            <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
          </div>
        </div>
      </a>

      <a href="/work/liners" class="project">
        <div class="content-bg">
          <img src="http://placehold.it/500x500">
          <div class="content">
            <h4>Liners</h4>
            <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
          </div>
        </div>
      </a>

      <a href="/work/liners" class="project">
        <div class="content-bg">
          <img src="http://placehold.it/500x500">
          <div class="content">
            <h4>Liners</h4>
            <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
          </div>
        </div>
      </a>

      <a href="/work/liners" class="project">
        <div class="content-bg">
          <img src="http://placehold.it/500x500">
          <div class="content">
            <h4>Liners</h4>
            <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
          </div>
        </div>
      </a>

      <a href="/work/liners" class="project">
        <div class="content-bg">
          <img src="http://placehold.it/500x500">
          <div class="content">
            <h4>Liners</h4>
            <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
          </div>
        </div>
      </a>

      <a href="/work/liners" class="project">
        <div class="content-bg">
          <img src="http://placehold.it/500x500">
          <div class="content">
            <h4>Liners</h4>
            <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
          </div>
        </div>
      </a>

      <a href="/work/liners" class="project">
        <div class="content-bg">
          <img src="http://placehold.it/500x500">
          <div class="content">
            <h4>Liners</h4>
            <p>Mobile app UI+UX &nbsp;/&nbsp; Web UI</p>
          </div>
        </div>
      </a>

    </div>
  </div>

</article>
